body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #8D0016;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}
nav a:hover {
    color: #555;
}
section {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.seperation_bar {
    background-color: #333;
    padding: 0.1px 0;
    position: fixed;
    width: 100%;
    height: 5px;
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
max-width: 1000px; /* 设置容器的最大宽度 */
}
.project-box {
    width: calc(33.33% * 800px - 5px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
overflow: hidden; /* 防止图片溢出框 */
word-wrap: break-word; /* 长单词或 URL 换行 */
}
.project-image {
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}
.main_body {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}


.navbar-item {
    margin-right: 20px;
    position: relative;
}

.navbar-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff; /* 背景颜色 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 阴影效果 */
    z-index: 1000; /* 确保菜单在其他元素上方 */
}

.navbar-item:hover .navbar-dropdown {
    display: block; /* 鼠标悬停时显示菜单 */
}

.navbar-item a {
    display: block;
    padding: 10px;
    color: #333; /* 文本颜色 */
    text-decoration: none;
}

.navbar-item a:hover {
    background-color: #f0f0f0; /* 鼠标悬停时背景颜色 */
}

